{% macro menu_links(items, custom_class) %}
  {% if items is not empty %}
    <ul class="footer-menu__items {{ custom_class }} {% if item.below is not empty %}item-below{% endif %}">
      {% for item in items %}
        <li class="footer-menu__{{ item.title }} footer-menu__item">
          {% if not item.below %}
            <a href="{{ item.url }}" aria-label="{{ item.title }}">
          {% endif %}
          {% if item.original_link.pluginDefinition.options.attributes is defined %}
            <span
              {% for name, value in item.original_link.pluginDefinition.options.attributes %}
                {{ name }}="{{ value is iterable ? value|join(' ') : value }}"
              {% endfor %}
            ></span>
          {% elseif custom_class == 'footer-social-icons'%}
            <span class="icon icon--{{ item.icon }}"></span>
          {% else %}
            <span>{{ item.title }}</span>
          {% endif %}
          </a>
          {% if item.below is not empty %}
            {{ _self.menu_links(item.below) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% import _self as menus %}
{{ menus.menu_links(items, custom_class) }}
