<div class="author">
  <div class="author_container container">
    <div class="author_container-page_title">
      <h1 class="author-page_title typography__heading">
        <span>{{ author_page_title.value}}</span>
      </h1>
    </div>
    <div class="author_container-name author-content-item body-text">
      {% if author_name.label %}
        <span class="author-content-item_label">{{ author_name.label }}:</span> 
      {% endif %}
      <div class="first-name">{{ author_name.first_name }}</div>
      <div class="last-name">{{ author_name.last_name }}</div>
    </div>
    <div class="author_container-image author-content-item">
      {% if author_image.value %}
        {{ author_image.value }}
      {% else %}
        <img src="{{ author_image_demo.value }}" alt="Default Author Image"/>
      {% endif %}
    </div>   
    <div class="author_container-job_title author-content-item body-text">
      {% if author_job_title.label %}
        <span class="author-content-item_label">{{ author_job_title.label }}:</span> 
      {% endif %}    
      {{ author_job_title.value }}
    </div>
    <div class="author_container-bio author-content-item body-text">
      <p>{{ author_bio.value }}</p>
    </div>
    <div class="author_container-site_link author-content-item body-text">
      {% if author_site_link.label %}
        <span class="author-content-item_label">{{ author_site_link.label }}:</span> 
      {% endif %}    
      <a href="{{ author_site_link.href }}" target="_blank">{{ author_site_link.value }}</a>
    </div>
  </div>
</div>
