<div class="listing-card border-xs">
  <div class="upper-card bg-light p-32 d-flex">
    {% if image %}
      <div class="listing-card__image">
        <img src="{{ image }}" alt="{{ image_alt }}" class="border-xs">
      </div>
    {% endif %}

      <div class="text-left">
        <h3 class="listing-card__heading">
          {{ heading }}
        </h3>

        {% if subheading %}
          <h4 class="listing-card__subheading">
            {{ subheading }}
          </h4>
        {% endif %}

        {% if description %}
          <div class="listing-card__description">
            {{ description }}
          </div>
        {% endif %}

        {% if cta %}
          {% include "@atoms/button/button.twig" with {
            label: cta.content,
            modifier: "button-with-icon icon--arrow-right icon-after text-cobalt",
            src_url: cta.url,
            src_target: cta.target
          } %}
        {% endif %}
      </div>
    </div>

    {% if fields %}
      <div class="listing-card__fields body-text py-8 bg-skyblue d-flex">
        {% for field in fields %}
          <div class="listing-card__field d-flex">
            <strong>{{ field.label }}:</strong>{{ field.value }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  